backend/BlogApp/.vs/

# Build folders
/backend/BlogApp/BlogApp.API/obj
/backend/BlogApp/BlogApp.API/bin

# Other temporary files
*.log
*.tmp
*.json
*.cache
*.config
*.json
*.dll
/frontend/blog-web-app/node_modules
